/* ******Estilo home*** */
nav{
    border-bottom: 2px solid blue;
}
ul{
    text-align:center;
    margin:0%;
    padding:0%;
    overflow:hidden;
    list-style-type: none;
}
li{
    text-align: center;
    width:10%;
    float:left;
}
li a{
    background-color: lightblue;
    text-decoration: none;
}
