/* ******Estilo home*** */
nav{
    border-bottom: 3px solid blue;
    text-align: center;
}
ul{
    margin-left: 15%;
    padding:0%;
    overflow: hidden;
    list-style-type: none;
}
li{
    width:15%;
    float:left;
    background-color: lightblue;
    margin:0.5%;
    border-radius:5%;
    
}
li a{
    text-decoration: none;
    color:navy;
}
li:hover{
    color:navy;
    background-color: cornflowerblue;
}
p{
    color:blue;
}

main{
    width:75%;
    float:left;
}
.cent{
    margin-left: 15%;
}
aside{
    width:15%;
    float:right;
}
aside img{
    width:50%;
}
footer{
    clear:both;
    background-color: lightblue;
    text-align:center;
}
/* *************Estilo localizacion** */
.mapa{
    width:40%;
}
.centrado{
    margin:auto;
}
/* ************Estilo porfolio******** */
.centro{
    text-align: center;
}
#porfolio div{
    width:25%;
    margin:4%;
    float:left;
}